@use 'variables';

.contact {
    background: variables.$color-background-alt;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2 {
        font-family: variables.$font-family-base;
        font-size: 2.5rem;
        color: variables.$color-text-secondary;
        margin-bottom: 1rem;

        span {
            color: variables.$color-secondary;

            i {
                margin-left: 0.4rem;
                color: variables.$color-secondary;
            }
        }
    }

    p {
        color: variables.$color-text-secondary;
        font-family: variables.$font-family-alt;
        font-size: 1rem;
        margin-bottom: 2rem;
    }

    .contact-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
        width: 100%;
        max-width: 1100px;
    }

    .contact-form {
        flex: 1 1 350px;
        background: variables.$color-background-alt;
        padding: 2rem;

        .input-group {
            margin-bottom: 1.5rem;

            input,
            textarea {
                width: 100%;
                padding: 0.9rem 1rem;
                border: 2px solid variables.$color-accent;
                border-radius: 30px;
                font-family: variables.$font-family-alt;
                outline: none;
                transition: 0.3s;
            }
        }

        .send-btn {
            background: variables.$color-accent;
            color: variables.$color-primary;
            border: none;
            padding: 1rem 9rem;
            border-radius: 25px;
            cursor: pointer;
            font-size: 1rem;
            transition: 0.3s;

            i {
                margin-right: 0.4rem;
            }

            &:hover {
                background: variables.$color-accent-alt;
                transform: scale(1.05);
            }
        }
    }

    .contact-info {
        flex: 1 1 350px;
        background: variables.$color-background-alt;
        border-radius: 30px;
        padding: 2rem;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

        h3 {
            color: variables.$color-text-secondary;
            font-family: variables.$font-family-alt;
            font-size: 1.25rem;
            font-weight: 500;
            margin-bottom: 1rem;
        }

        p {
            color: variables.$color-text-secondary;
            margin-bottom: 2rem;
        }

        .social-links {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            margin-bottom: 2rem;

            li {
                background: variables.$color-accent;
                border-radius: 30px;
                padding: 1rem;
                font-family: variables.$font-family-alt;
                color: variables.$color-primary;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.6rem;
                transition: 0.3s;
                cursor: pointer;

                i {
                    font-size: 1.3rem;
                    color: variables.$color-secondary;
                }

                strong {
                    font-weight: 500;
                }

                &:hover {
                    background: variables.$color-secondary;
                    color: variables.$color-background-alt;

                    i {
                        color: variables.$color-background-alt;
                    }
                }
            }
        }

        .available-box {
            background: linear-gradient(135deg, variables.$color-accent, #e3faf9);
            border-radius: 20px;
            padding: 1.5rem;
            color: variables.$color-text-secondary; 
            font-family: variables.$font-family-alt;
            box-shadow: 0 0 10px rgba(134, 45, 74, 0.1); 

            i {
                font-size: 1.5rem;
                color: #ff87cd;
                margin-bottom: 0.5rem;
            }

            h4 {
                margin-bottom: 0.5rem;
                font-size: 1.2rem;
                font-weight: 500;
            }

            p {
                margin: 0; // Remove margens extras
            }
        }
    }
}