@use 'variables';

footer {
    font-family: variables.$font-family-alt;
    background: variables.$color-background-alt;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .scroll-up {
        font-size: 2rem;
        background-color: variables.$color-accent;
        color: variables.$color-primary;
        animation: moveArrow 1.5s infinite ease-in-out;
        cursor: pointer;
        padding: 0.5rem 0.5rem;
        border-radius: 5rem;
        margin-bottom: 2rem;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.2);
            color: variables.$color-text-secondary;
        }
    }

    @keyframes moveArrow {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(10px);
        }
    }

    h3 {
        color: variables.$color-text-secondary;
        font-weight: 500;
        font-size: 1rem;
        margin-bottom: 0.75rem;

        i {
            color: variables.$color-secondary;
            margin-left: 5px;
        }
    }

    p {
        color: variables.$color-text-secondary;
        font-size: 0.80rem;
        margin-bottom: 1rem;
    }

    .emoji-title {
        font-size: 3rem;
        display: inline-block;
        animation: bounceEmoji 2s infinite ease-in-out;
        cursor: default;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.2) rotate(10deg);
        }
    }

    @keyframes bounceEmoji {

        0%,
        100% {
            transform: translateY(0);
        }

        25% {
            transform: translateY(-10px) rotate(-5deg);
        }

        50% {
            transform: translateY(5px) rotate(5deg);
        }

        75% {
            transform: translateY(-5px) rotate(-2deg);
        }
    }

}