@use 'variables';

.hero {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: variables.$font-family-base;
    padding: 2rem;

    .flower-container {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 1;

        div {
            position: absolute;
            font-size: 1.5rem;
            animation: fall linear infinite;
            opacity: 0.8;
            color: pink;
        }
    }

    @keyframes fall {
        0% {
            transform: translateY(-10%) rotate(0deg);
            opacity: 1;
        }

        100% {
            transform: translateY(110vh) rotate(360deg);
            opacity: 0;
        }
    }

    &__content {
        z-index: 2;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__image img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-top: 3rem;
        object-fit: cover;
        box-shadow: 0 0 30px rgba(255, 92, 116, 0.6);
        margin-bottom: 2rem;
    }

    h1 {
        font-size: 3rem;
        font-weight: 300;
        color: variables.$color-text-secondary;
        margin-bottom: 1rem;

        span {
            color: variables.$color-primary;
            font-weight: 500;
        }
    }

    p {
        font-size: 1.4rem;
        font-weight: 300;
        font-family: variables.$font-family-alt;
        color: variables.$color-text-secondary;
        margin-bottom: 2rem;
        max-width: 600px;
    }

    &__buttons {
        display: flex;
        font-family: variables.$font-family-alt;
        flex-wrap: wrap;
        gap: 1.2rem;
        justify-content: center;
        margin-bottom: 3rem;

        a {
            display: inline-flex;
            align-items: center;
            gap: 0.5rem;
            padding: 1rem 2rem;
            border-radius: 30px;
            font-size: 1rem;
            font-weight: 400;
            text-decoration: none;
            transition: all 0.4s ease;
            cursor: pointer;
        }

        .btn-primary {
            background: linear-gradient(135deg, #ffd6eb, #e2c7ff);
            color: variables.$color-secondary;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);

            &:hover {
                background: linear-gradient(135deg, #ffb3db, #d8b9ff);
                transform: scale(1.05);
                box-shadow: 0 0 15px rgba(233, 173, 255, 0.4);
                color: variables.$color-button-text;
            }
        }

        .btn-secondary {
            background: transparent;
            color: variables.$color-secondary;
            border: 2px solid transparent;
            background-image: linear-gradient(135deg, #ffd6eb, #e2c7ff);
            background-origin: border-box;
            background-clip: padding-box, border-box;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);

            &:hover {
                color: variables.$color-button-text;
                background-color: rgba(255, 230, 250, 0.2);
                transform: scale(1.05);
                box-shadow: 0 0 15px rgba(233, 173, 255, 0.3);
            }
        }
    }

    .scroll-down,
    .bi-arrow-down-short {
        font-size: 2rem;
        color: variables.$color-primary;
        animation: moveArrow 1.5s infinite ease-in-out;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.2);
            color: variables.$color-text-secondary;
        }
    }

    @keyframes moveArrow {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(10px);
        }
    }


    @media (max-width: 768px) {
        h1 {
            font-size: 2.2rem;
        }

        p {
            font-size: 1.1rem;
        }

        &__image img {
            width: 150px;
            height: 150px;
            margin-top: 5rem;
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    h1 {
        font-size: 2.2rem;
    }

    p {
        font-size: 1.1rem;
    }

    img {
        width: 150px;
        height: 150px;
        margin-top: 3rem;
    }
}