@use 'variables';

.projects {
    text-align: center;
    background: variables.$color-background;
    padding: 4rem 2rem 6rem 2rem;

    h2 {
        color: variables.$color-text-secondary;
        font-size: 2rem;
        margin-bottom: 1rem;

        span {
            color: variables.$color-primary;
        }
    }

    p {
        color: variables.$color-text-secondary;
        font-family: variables.$font-family-alt;
        max-width: 600px;
        font-size: 1.2rem;
        line-height: 1.5;
        margin: 0 auto 3rem auto;
    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 2rem;
        justify-content: center;
    }

    .card {
        background: variables.$color-background-alt;
        border-radius: 20px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: all 0.3s ease;
        display: flex;
        flex-direction: column;

        &:hover {
            transform: translateY(-8px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        }

        .card-image img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 20px 20px 0 0;
            transition: opacity 0.3s ease;
        }

        .card-content {
            padding: 1.5rem;
            text-align: left;

            h3 {
                font-size: 1.2rem;
                font-family: variables.$font-family-alt;
                font-weight: 400;
                margin-bottom: 0.5rem;
                color: #222;
            }

            p {
                color: variables.$color-text-secondary;
                font-size: 0.95rem;
                margin-bottom: 1rem;
                line-height: 1.3;
            }

            .tags {
                margin-bottom: 1.5rem;

                span {
                    background: #f9e7eb;
                    color: #555;
                    border-radius: 20px;
                    padding: 0.3rem 0.8rem;
                    font-size: 0.8rem;
                    margin-right: 0.5rem;
                    display: inline-block;
                }
            }

            .card-buttons {
                display: flex;
                gap: 0.5rem;

                a {
                    flex: 1;
                    text-align: center;
                    text-decoration: none;
                    font-size: 0.9rem;
                    font-family: variables.$font-family-alt;
                    font-weight: 400;
                    padding: 0.6rem;
                    border-radius: 30px;
                    transition: background 0.3s ease;

                    &.btn-code {
                        background: #fff;
                        border: 1px solid variables.$color-accent;
                        color: variables.$color-text-secondary;

                        &:hover {
                            background: variables.$color-accent;
                            color: variables.$color-text;
                        }
                    }

                    &.btn-view {
                        background: variables.$color-accent;
                        color: variables.$color-primary;

                        &:hover {
                            background: variables.$color-background;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 1024px) {
        padding: 3rem 2rem 4rem 2rem;

        h2 {
            font-size: 1.8rem;
        }

        p {
            font-size: 1.05rem;
            max-width: 500px;
        }

        .cards-container {
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;
            width: 90%;
            margin: 0 auto;
        }
    }

    @media (max-width: 768px) {
        padding: 3rem 1rem 4rem 1rem;

        h2 {
            font-size: 1.6rem;
        }

        p {
            font-size: 1rem;
            width: 300;
            font-weight: 300;
        }

        .cards-container {
            grid-template-columns: 1fr;
            width: 90%;
            margin: 0 auto;

            span {
                margin-bottom: 0.5rem;
            }
        }
    }
}