$color-background: #f4ebee;
$color-background-alt: #ffffff;
$color-primary: #862d4a;
$color-secondary: #b24673;
$color-accent: #f9d7e2;
$color-accent-alt: #ffe6ec;
$color-text: #000000;
$color-text-secondary: #464545;
$color-button-text: #b25cff;

$font-family-base: 'Playfair Display', serif;
$font-family-alt: 'Roboto', sans-serif;